<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input 2FA</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;
            text-align: center;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        input {
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
        }
        label {
            font-size: 18px;
            font-weight: bold;
        }
        button {
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        p {
            color: red;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container">
        <% if (error) {%>
            <p>Error: <%= error %></p>
        <% } %>
        <% if (login) { %>
        <form action="/login-2fa" method="POST">
            <label for="code">Input your code</label>
            <input type="text" name="code" id="code">
            <button type="submit">Submit</button>
        </form>
        <% } else { %>
        <form action="/turn-off-2FA" method="POST">
            <label for="code">Input your code</label>
            <input type="text" name="code" id="code">
            <button type="submit">Submit</button>
        </form>
        <% } %>
    </div>
</body>
</html>
